.settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.back-button {
    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
}
