.form-wrapper {
    display: flex;
    gap: 20px;
}

.title {
    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
    border: 1px solid var(--tertiary-active-color);
    width: 100%;
}

.title:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}

.back-button {
    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
}

.back-button:hover {
    background-color: var(--tertiary-hover-color);
}

input[type="file"] {
    display: none;
}

.image-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.file-uploader {
    width: 200px;
    height: 200px;
    border: 2px dashed var(--secondary-active-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.file-uploader:hover {
    border-color: var(--tertiary-active-color);
    color: var(--tertiary-active-color);
}

.file-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}