
.error-input{
    border: 3px solid #f01b13;
    outline: none;
}

.error-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #f01b13;
    border-radius: 5px;
    background-color: #f5bfbd;
    color: #f01b13; 
    font-size: 0.85rem;
    margin: 10px 10px;
    margin-top: auto;
    padding: 4px 8px;
    font-weight: 500; 
}

.error-icon {
  color: #d93025;
  font-size: 1rem;
  margin-right: 8px;
  padding: 6px;
  line-height: 1;
}

.error-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.error-text {
    width: 100%;
  color: #d93025;
  font-size: 0.85rem;
  margin: 0;
  line-height: 1;
}