.card-container {
    width: 80vh;
}
button {
    background-color: black;
    color: white;
}

button:hover {
    opacity: 90%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    margin: auto 5px;
}

input {
    width: 350px;
}

.search-container {
    position: relative;
    display: inline-block;
    border-radius: 6px;
}

.search-field {
    height: 50px;
    border-radius: 6px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-right: 5px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.newsletter {
    height: 60vh;
    overflow-y: auto;
    justify-content: start !important;
}

.newsletter-container {
    border: solid 1px rgb(77, 77, 77);
    border-radius: 6px;
    border-color: #cacaca;
    width: 400px;
    margin: 30px auto;
    box-sizing: content-box;
}

.newsletter-container:hover {
    background-color: rgb(240, 240, 240);
}

#newsletter-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.newsletter-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;
}

.user-avatar,
.newsletter-header-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-avatar {
    border: solid 2px rgb(255, 183, 0);
}

.user-avatar:hover {
    opacity: 90%;
}

.newsletter-header-user-avatar,
.newsletter-header-user-information {
    margin: auto 10px;
}

#user-name {
    font-weight: bold;
}

#created-at {
    font-size: 14px;
}

.newsletter-content {
    margin: 10px 20px;
    text-align: justify;
}

.header-start,
.header-end,
.newsletter-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.search-button,
.publish,
.menu,
.action {
    margin: 10px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 6px;
}

.search-button,
.publish:hover,
.menu:hover,
.action:hover {
    background-color: rgb(255, 183, 0);
}

.search-button,
.publish,
.menu {
    width: 5px;
    margin: 5px;
    box-sizing: border-box;
}

mat-icon.notranslate.menu-icon.material-icons.mat-ligature-font.mat-icon-no-color,
mat-icon.notranslate.search-button-icon.material-icons.mat-ligature-font.mat-icon-no-color,
mat-icon.notranslate.add-icon.material-icons.mat-ligature-font.mat-icon-no-color {
    margin: 0px;
    color: white;
}

.search-button {
    height: 50px;
    background-color: rgb(255, 183, 0);
    color: white;
    font-weight: bold;
    font-size: medium;
}

#newsletter-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -2px;
}