h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    transition: 0.3s;
}

.home-container:hover{
    padding: 36px;
}

.info {
    font-size: 14px;
    text-align: center;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;
    margin-bottom: 12px;
}

.home-container form {
    display: flex;
    flex-direction: column;
}

button, input {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

input{
    background-color: black;
    margin: 10px 10px;
    padding: 15px;
}

input:focus{
    border: 3px solid rgb(255, 183, 0);
    outline: none;
}

input:hover{
    background-color: rgb(33, 33, 33);
}

input::content,
input::placeholder{
    color: white;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#home{
    background-color: rgb(255, 183, 0);;
    color: white;
}

#home:hover{
    background-color: rgb(206, 148, 0);
}

.back-button{   
    background-color: rgb(217, 217, 217);
}

.back-button:hover{
    background-color: rgb(198, 198, 198);
}

.divisor {
    display: flex;
}

.divisor hr {
    width: 100%;
    margin: auto 10px;
}

.option{
    padding: 6px;
    background-color: rgb(224, 224, 224);
}

.option:hover{
    background-color: rgb(207, 207, 207);
}

#login{
    background-color: rgb(255, 183, 0);
    color: white;
}

#login:hover{
    background-color: rgb(206, 148, 0);
}

img{
    width: 32px;
    height: 32px;
    margin: auto 10px;
}

p{
    margin: 8px auto;
}

a{
    color: rgb(255, 183, 0);
}

.sign-out {
    background-color: black;
    color: white;
}