.background-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}


.pause-icon{
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
}