.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}


.icon {
  cursor: pointer;
  width: auto;
  height: auto;
  position: fixed;
  top: 19px;
  left: 20px;
  transition: 0.2s;
  color: var(--main-title-color);
}

.icon:hover {
  padding: 2px;
}

.theme {
  left: 60px;
}