
* {
    font-family: "Roboto Mono", monospace;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-invalid.ng-touched {
  border: 2px solid #d93025; 
  box-shadow: 0 0 0 1px #d93025, 0 0 0 4px rgba(217, 48, 37, 0.2);
  outline: none; 
}

input.ng-invalid.ng-touched::placeholder {
  color: #d93025;
  opacity: 0.8;
}

.custom-success-snackbar {
  background-color: green;
  color: white;
}

.custom-error-snackbar {
  background-color: rgb(235, 65, 65);
  border-radius: 3px;
  border: solid 3px rgb(233, 55, 55);
  color: white;
}