//VARIABLES
$main-error-color: #ff0800;
$main-error-border-color: rgb(235, 65, 65);
$main-error-message-background-color: #f5bfbd;
$main-success-color: rgb(0, 187, 47);
$main-success-border-color: rgb(137, 211, 107);

//LIGHT THEME
:root {
    //MAIN BACKGROUND AND TEXT
    --main-background-color: white;
    --main-text-color: black;
    
    //INPUT
    --main-input-background-color: black;
    --main-input-text-color: white;
    --main-input-focus-border-color: rgb(255, 183, 0);
    
    //BUTTON
    --main-button-background-color: rgb(233, 233, 233);
    --main-hover-opacity: 90%;

    //TITLES
    --main-title-color: white;
    
    //NEWSLETTER CARD
    --main-newsletter-hover-color: rgb(219, 219, 219);

    //YELLOW
    --primary-color: rgb(255, 183, 0);
    --primary-hover-color: rgb(206, 148, 0);
    --primary-active-color: rgb(206, 103, 0);
    --primary-text-color: white;
    
    //WHITE
    --secondary-color: rgb(255, 255, 255);
    --secondary-hover-color: rgb(109, 109, 109);
    --secondary-active-color: rgb(65, 65, 65);
    --secondary-text-color: black;
    
    //BLACK
    --tertiary-color: rgb(0, 0, 0);
    --tertiary-hover-color: rgb(39, 39, 39);
    --tertiary-active-color: rgb(78, 78, 78);
    --tertiary-text-color: white;
}

//DARK THEME
:root .dark-theme {
    //MAIN BACKGROUND AND TEXT
    --main-background-color: black;
    --main-text-color: white;
    
    //INPUT
    --main-input-background-color: white;
    --main-input-text-color: black;
    --main-input-focus-border-color: rgb(255, 183, 0);
    
    //BUTTON
    --main-button-background-color: rgb(61, 61, 61);
    --main-hover-opacity: 90%;

    //NEWSLETTER CARD
    --main-newsletter-hover-color: rgb(37, 37, 37);

    //TITLES
    --main-title-color: black;
    
    //YELLOW
    --primary-color: rgb(255, 183, 0);
    --primary-hover-color: rgb(206, 148, 0);
    --primary-active-color: rgb(206, 103, 0);
    --primary-text-color: white;
    
    //BLACK
    --secondary-color: rgb(0, 0, 0);
    --secondary-hover-color: rgb(32, 32, 32);
    --secondary-active-color: rgb(78, 78, 78);
    --secondary-text-color: white;
    
    //WHITE
    --tertiary-color: rgb(255, 255, 255);
    --tertiary-hover-color: rgb(192, 192, 192);
    --tertiary-active-color: rgb(139, 139, 139);
    --tertiary-text-color: black;
}

//BASE

* {
    font-family: "Roboto Mono", monospace;
    transition: all 0.1s ease-in-out;
}

body {
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

//INPUT

input {
    color: var(--main-input-text-color);
    background-color: var(--main-input-background-color);
}

input:focus {
    border: 3px solid var(--main-input-focus-border-color);
    outline: none;
}

input:hover {
    opacity: var(--main-hover-opacity);
}

input::content,
input::placeholder {
    color: var(--main-input-text-color);
}

input.ng-invalid.ng-touched {
    border: 2px solid $main-error-color;
    outline: none;
}

input.ng-invalid.ng-touched::placeholder {
    color: $main-error-color;
    opacity: var(--main-hover-opacity);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--tertiary-text-color);
    background-color: var(--tertiary-color);
}

textarea:focus {
    border: 3px solid var(--main-input-focus-border-color);
    outline: none;
}

textarea:hover {
    opacity: var(--main-hover-opacity);
}

textarea::content,
textarea::placeholder {
    color: var(--main-text-color);
}

//SNACK BAR

.custom-success-snackbar {
    background-color: $main-success-color;
    border-radius: 3px;
    border: solid 3px $main-success-border-color;
    color: white;
}

.custom-error-snackbar {
    background-color: $main-error-color;
    border-radius: 3px;
    border: solid 3px $main-error-border-color;
    color: var(--main-text-color);
}

//GENERIC ELEMENTS

img {
    width: 32px;
    height: 32px;
    margin: auto 10px;
}

p {
    margin: 8px auto;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-hover-color);
}

a:visited {
    color: var(--primary-active-color);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-title-color);
}

//CARDS

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 30px;
    border-radius: 8px;
    transition: 0.3s;
    box-sizing: content-box;
}

.card-container:hover {
    padding: 36px;
}

.card-container form {
    display: flex;
    flex-direction: column;
}

//DIVISORS

.divisor {
    display: flex;
}

.divisor hr {
    width: 100%;
    margin: auto 10px;
}

//BUTTONS

button,
input {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

// ERRORS

.error-icon {
    color: $main-error-color;
    font-size: 1rem;
    margin-right: 8px;
    padding: 6px;
    line-height: 1;
    font-style: normal;
}

.error-text {
    width: 100%;
    color: $main-error-color;
    font-size: 0.85rem;
    margin: 10px 0;
    line-height: 1;
    font-style: normal;
}

.error-message {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $main-error-message-background-color;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid $main-error-color;
    border-radius: 3px;
}

//OPTIONS

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: var(--main-button-background-color);
    color: var(--main-text-color);
}

//CUSTOM COLORS

.yellow {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

//MENU

.mat-mdc-menu-panel {
    background-color: var(--secondary-color);
}

.mat-mdc-menu-panel .mat-mdc-menu-item .mat-mdc-menu-item-text {
    color: var(--secondary-text-color);
}

.mat-mdc-menu-panel .mat-mdc-menu-item:hover {
    background-color: var(--secondary-hover-color) !important;
    opacity: 100%;
}

button.mat-mdc-menu-item.mat-focus-indicator {
    background-color: var(--secondary-color);
}

mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color.menu-icon {
    color: var(--secondary-color);
    margin: 0;
    width: 40px;
}

button.mat-mdc-menu-item.mat-focus-indicator {
    border-radius: 0px;
}

div.mat-mdc-menu-content {
    background-color: var(--secondary-color);
    margin-top: 3px;
    border-radius: 3px;
}

//SCROLLBAR

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-hover-color);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-active-color);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-hover-color);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}