//VARIABLES
$main-error-color: #ff4c46;
$main-error-border-color: rgb(228, 86, 86);
$main-error-message-background-color: #f5bfbd;
$main-success-color: rgb(0, 187, 47);
$main-success-border-color: rgb(137, 211, 107);

//LIGHT THEME
:root {
    //MAIN BACKGROUND AND TEXT
    --main-background-color: white;
    --main-text-color: black;
    
    //INPUT
    --main-input-background-color: black;
    --main-input-text-color: white;
    --main-input-focus-border-color: rgb(255, 183, 0);
    
    //BUTTON
    --main-button-background-color: rgb(233, 233, 233);
    --main-button-hover-color: rgb(218, 218, 218);
    --main-button-active-color: rgb(179, 179, 179);
    --main-hover-opacity: 90%;

    //TITLES
    --main-title-color: white;
    
    //NEWSLETTER CARD
    --main-newsletter-hover-color: rgb(219, 219, 219);

    //YELLOW
    --primary-color: rgb(255, 183, 0);
    --primary-hover-color: rgb(206, 148, 0);
    --primary-active-color: rgb(206, 103, 0);
    --primary-text-color: white;
    
    //WHITE
    --secondary-color: rgb(255, 255, 255);
    --secondary-hover-color: rgb(170, 170, 170);
    --secondary-active-color: rgb(65, 65, 65);
    --secondary-text-color: black;
    
    //BLACK
    --tertiary-color: rgb(0, 0, 0);
    --tertiary-hover-color: rgb(39, 39, 39);
    --tertiary-active-color: rgb(78, 78, 78);
    --tertiary-text-color: white;
}

//DARK THEME
:root .dark-theme {
    //MAIN BACKGROUND AND TEXT
    --main-background-color: black;
    --main-text-color: white;
    
    //INPUT
    --main-input-background-color: white;
    --main-input-text-color: black;
    --main-input-focus-border-color: rgb(255, 183, 0);
    
    //BUTTON
    --main-button-background-color: rgb(61, 61, 61);
    --main-button-hover-color: rgb(34, 34, 34);
    --main-button-active-color: rgb(24, 24, 24);
    --main-hover-opacity: 90%;

    //NEWSLETTER CARD
    --main-newsletter-hover-color: rgb(37, 37, 37);

    //TITLES
    --main-title-color: black;
    
    //YELLOW
    --primary-color: rgb(255, 183, 0);
    --primary-hover-color: rgb(206, 148, 0);
    --primary-active-color: rgb(206, 103, 0);
    --primary-text-color: white;
    
    //BLACK
    --secondary-color: rgb(0, 0, 0);
    --secondary-hover-color: rgb(32, 32, 32);
    --secondary-active-color: rgb(78, 78, 78);
    --secondary-text-color: white;
    
    //WHITE
    --tertiary-color: rgb(255, 255, 255);
    --tertiary-hover-color: rgb(192, 192, 192);
    --tertiary-active-color: rgb(139, 139, 139);
    --tertiary-text-color: black;
}

//BASE

* {
    font-family: "Roboto Mono", monospace;
    transition: all 0.1s ease-in-out;
}

body {
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

//INPUT

input {
    color: var(--main-input-text-color);
    background-color: var(--main-input-background-color);
}

input:focus {
    border: 3px solid var(--main-input-focus-border-color);
    outline: none;
}

input:hover {
    opacity: var(--main-hover-opacity);
}

input::content,
input::placeholder {
    color: var(--main-input-text-color);
}

input.ng-invalid.ng-touched {
    border: 2px solid $main-error-color;
    outline: none;
}

input.ng-invalid.ng-touched::placeholder {
    color: $main-error-color;
    opacity: var(--main-hover-opacity);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--tertiary-text-color);
    background-color: var(--tertiary-color);
}

textarea:focus {
    border: 3px solid var(--main-input-focus-border-color);
    outline: none;
}

textarea:hover {
    opacity: var(--main-hover-opacity);
}

textarea::content,
textarea::placeholder {
    color: var(--main-text-color);
}

//SNACK BAR

.custom-success-snackbar {
    background-color: $main-success-color;
    border-radius: 3px;
    border: solid 3px $main-success-border-color;
    color: white;
}

.custom-error-snackbar {
    background-color: $main-error-color;
    border-radius: 3px;
    border: solid 3px $main-error-border-color;
    color: white;
}

//GENERIC ELEMENTS

img {
    width: 32px;
    height: 32px;
    margin: auto 10px;
}

p {
    margin: 8px auto;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-hover-color);
}

a:visited {
    color: var(--primary-active-color);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-title-color);
}

//CARDS

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 30px;
    border-radius: 8px;
    transition: 0.3s;
    box-sizing: content-box;
}

.card-container:hover {
    padding: 36px;
}

.card-container form {
    display: flex;
    flex-direction: column;
}

//DIVISORS

.divisor {
    display: flex;
}

.divisor hr {
    width: 100%;
    margin: auto 10px;
}

//BUTTONS

button,
input {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

// ERRORS

.error-icon {
    color: $main-error-color;
    font-size: 1rem;
    margin-right: 8px;
    padding: 6px;
    line-height: 1;
    font-style: normal;
}

.error-text {
    width: 100%;
    color: $main-error-color;
    font-size: 0.85rem;
    margin: 10px 0;
    line-height: 1;
    font-style: normal;
}

.error-message {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $main-error-message-background-color;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid $main-error-color;
    border-radius: 3px;
}

//OPTIONS

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: var(--main-button-background-color);
    color: var(--main-text-color);
}

//CUSTOM COLORS

.yellow {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

//MENU

.mat-mdc-menu-panel {
    background-color: var(--secondary-color);
    margin-top: 10px;
}

.mat-mdc-menu-panel .mat-mdc-menu-item .mat-mdc-menu-item-text {
    color: var(--secondary-text-color);
}

.mat-mdc-menu-panel .mat-mdc-menu-item:hover {
    background-color: var(--main-button-hover-color) !important;
    opacity: 100%;
}

button.mat-mdc-menu-item.mat-focus-indicator {
    background-color: var(--secondary-color);
}

mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color.menu-icon {
    color: var(--secondary-color);
    margin: 0;
    width: 40px;
}

button.mat-mdc-menu-item.mat-focus-indicator {
    border-radius: 0px;
}

div.mat-mdc-menu-content {
    background-color: var(--secondary-color);
    margin-top: 3px;
    border-radius: 3px;
}

//SCROLLBAR

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-hover-color);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-active-color);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-hover-color);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

//BUTTON GROUP

mat-button-toggle-group.segmented-control.mat-button-toggle-group-appearance-standard {
    border-radius: 3px; 
}

.segmented-control {
    background-color: var(--main-button-background-color); 
    border-radius: 3px; 
    border: none;
    display: inline-flex; 
    margin: 10px auto;
    padding: 3px;
    width: 290px;
}

.segmented-control .mat-button-toggle {
    border: none;
    color: var(--main-text-color);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

.segmented-control .mat-button-toggle-checked {
    background-color: var(--main-button-hover-color) !important; 
    color: var(--main-text-color) !important;
    width: 100%;
}

//SLIDES

.slide {
    --mat-sys-background: #faf9fd;
    --mat-sys-error: #ba1a1a;
    --mat-sys-error-container: #ffdad6;
    --mat-sys-inverse-on-surface: #f2f0f4;
    --mat-sys-inverse-primary: #abc7ff;
    --mat-sys-inverse-surface: #2f3033;
    --mat-sys-on-background: #1a1b1f;
    --mat-sys-on-error: #ffffff;
    --mat-sys-on-error-container: #93000a;
    --mat-sys-on-primary: #ffffff;
    --mat-sys-on-primary-container: #00458f;
    --mat-sys-on-primary-fixed: #001b3f;
    --mat-sys-on-primary-fixed-variant: #00458f;
    --mat-sys-on-secondary: #ffffff;
    --mat-sys-on-secondary-container: #3e4759;
    --mat-sys-on-secondary-fixed: #131c2b;
    --mat-sys-on-secondary-fixed-variant: #3e4759;
    --mat-sys-on-surface: #1a1b1f;
    --mat-sys-on-surface-variant: #44474e;
    --mat-sys-on-tertiary: #ffffff;
    --mat-sys-on-tertiary-container: #0000ef;
    --mat-sys-on-tertiary-fixed: #00006e;
    --mat-sys-on-tertiary-fixed-variant: #0000ef;
    --mat-sys-outline: #74777f;
    --mat-sys-outline-variant: #c4c6d0;
    --mat-sys-primary: var(--primary-color);
    --mat-sys-primary-container: #d7e3ff;
    --mat-sys-primary-fixed: #d7e3ff;
    --mat-sys-primary-fixed-dim: #abc7ff;
    --mat-sys-scrim: #000000;
    --mat-sys-secondary: #565e71;
    --mat-sys-secondary-container: #dae2f9;
    --mat-sys-secondary-fixed: #dae2f9;
    --mat-sys-secondary-fixed-dim: #bec6dc;
    --mat-sys-shadow: #000000;
    --mat-sys-surface: #faf9fd;
    --mat-sys-surface-bright: #faf9fd;
    --mat-sys-surface-container: #efedf0;
    --mat-sys-surface-container-high: #e9e7eb;
    --mat-sys-surface-container-highest: #e3e2e6;
    --mat-sys-surface-container-low: #f4f3f6;
    --mat-sys-surface-container-lowest: #ffffff;
    --mat-sys-surface-dim: #dbd9dd;
    --mat-sys-surface-tint: #005cbb;
    --mat-sys-surface-variant: #e0e2ec;
    --mat-sys-tertiary: #343dff;
    --mat-sys-tertiary-container: #e0e0ff;
    --mat-sys-tertiary-fixed: #e0e0ff;
    --mat-sys-tertiary-fixed-dim: #bec2ff;
    --mat-sys-neutral-variant20: #2d3038;
    --mat-sys-neutral10: #1a1b1f;
    --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, .2), 0px 0px 0px 0px rgba(0, 0, 0, .14), 0px 0px 0px 0px rgba(0, 0, 0, .12);
    --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, .2), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 1px 8px 0px rgba(0, 0, 0, .12);
    --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
    --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
    --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, .2), 0px 12px 17px 2px rgba(0, 0, 0, .14), 0px 5px 22px 4px rgba(0, 0, 0, .12);
    --mat-sys-body-large: 400 1rem / 1.5rem Roboto;
    --mat-sys-body-large-font: Roboto;
    --mat-sys-body-large-line-height: 1.5rem;
    --mat-sys-body-large-size: 1rem;
    --mat-sys-body-large-tracking: .031rem;
    --mat-sys-body-large-weight: 400;
    --mat-sys-body-medium: 400 .875rem / 1.25rem Roboto;
    --mat-sys-body-medium-font: Roboto;
    --mat-sys-body-medium-line-height: 1.25rem;
    --mat-sys-body-medium-size: .875rem;
    --mat-sys-body-medium-tracking: .016rem;
    --mat-sys-body-medium-weight: 400;
    --mat-sys-body-small: 400 .75rem / 1rem Roboto;
    --mat-sys-body-small-font: Roboto;
    --mat-sys-body-small-line-height: 1rem;
    --mat-sys-body-small-size: .75rem;
    --mat-sys-body-small-tracking: .025rem;
    --mat-sys-body-small-weight: 400;
    --mat-sys-display-large: 400 3.562rem / 4rem Roboto;
    --mat-sys-display-large-font: Roboto;
    --mat-sys-display-large-line-height: 4rem;
    --mat-sys-display-large-size: 3.562rem;
    --mat-sys-display-large-tracking: -.016rem;
    --mat-sys-display-large-weight: 400;
    --mat-sys-display-medium: 400 2.812rem / 3.25rem Roboto;
    --mat-sys-display-medium-font: Roboto;
    --mat-sys-display-medium-line-height: 3.25rem;
    --mat-sys-display-medium-size: 2.812rem;
    --mat-sys-display-medium-tracking: 0;
    --mat-sys-display-medium-weight: 400;
    --mat-sys-display-small: 400 2.25rem / 2.75rem Roboto;
    --mat-sys-display-small-font: Roboto;
    --mat-sys-display-small-line-height: 2.75rem;
    --mat-sys-display-small-size: 2.25rem;
    --mat-sys-display-small-tracking: 0;
    --mat-sys-display-small-weight: 400;
    --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
    --mat-sys-headline-large-font: Roboto;
    --mat-sys-headline-large-line-height: 2.5rem;
    --mat-sys-headline-large-size: 2rem;
    --mat-sys-headline-large-tracking: 0;
    --mat-sys-headline-large-weight: 400;
    --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
    --mat-sys-headline-medium-font: Roboto;
    --mat-sys-headline-medium-line-height: 2.25rem;
    --mat-sys-headline-medium-size: 1.75rem;
    --mat-sys-headline-medium-tracking: 0;
    --mat-sys-headline-medium-weight: 400;
    --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
    --mat-sys-headline-small-font: Roboto;
    --mat-sys-headline-small-line-height: 2rem;
    --mat-sys-headline-small-size: 1.5rem;
    --mat-sys-headline-small-tracking: 0;
    --mat-sys-headline-small-weight: 400;
    --mat-sys-label-large: 500 .875rem / 1.25rem Roboto;
    --mat-sys-label-large-font: Roboto;
    --mat-sys-label-large-line-height: 1.25rem;
    --mat-sys-label-large-size: .875rem;
    --mat-sys-label-large-tracking: .006rem;
    --mat-sys-label-large-weight: 500;
    --mat-sys-label-large-weight-prominent: 700;
    --mat-sys-label-medium: 500 .75rem / 1rem Roboto;
    --mat-sys-label-medium-font: Roboto;
    --mat-sys-label-medium-line-height: 1rem;
    --mat-sys-label-medium-size: .75rem;
    --mat-sys-label-medium-tracking: .031rem;
    --mat-sys-label-medium-weight: 500;
    --mat-sys-label-medium-weight-prominent: 700;
    --mat-sys-label-small: 500 .688rem / 1rem Roboto;
    --mat-sys-label-small-font: Roboto;
    --mat-sys-label-small-line-height: 1rem;
    --mat-sys-label-small-size: .688rem;
    --mat-sys-label-small-tracking: .031rem;
    --mat-sys-label-small-weight: 500;
    --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
    --mat-sys-title-large-font: Roboto;
    --mat-sys-title-large-line-height: 1.75rem;
    --mat-sys-title-large-size: 1.375rem;
    --mat-sys-title-large-tracking: 0;
    --mat-sys-title-large-weight: 400;
    --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
    --mat-sys-title-medium-font: Roboto;
    --mat-sys-title-medium-line-height: 1.5rem;
    --mat-sys-title-medium-size: 1rem;
    --mat-sys-title-medium-tracking: .009rem;
    --mat-sys-title-medium-weight: 500;
    --mat-sys-title-small: 500 .875rem / 1.25rem Roboto;
    --mat-sys-title-small-font: Roboto;
    --mat-sys-title-small-line-height: 1.25rem;
    --mat-sys-title-small-size: .875rem;
    --mat-sys-title-small-tracking: .006rem;
    --mat-sys-title-small-weight: 500;
    --mat-sys-corner-extra-large: 28px;
    --mat-sys-corner-extra-large-top: 28px 28px 0 0;
    --mat-sys-corner-extra-small: 4px;
    --mat-sys-corner-extra-small-top: 4px 4px 0 0;
    --mat-sys-corner-full: 9999px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-large-end: 0 16px 16px 0;
    --mat-sys-corner-large-start: 16px 0 0 16px;
    --mat-sys-corner-large-top: 16px 16px 0 0;
    --mat-sys-corner-medium: 12px;
    --mat-sys-corner-none: 0;
    --mat-sys-corner-small: 8px;
    --mat-sys-dragged-state-layer-opacity: .16;
    --mat-sys-focus-state-layer-opacity: .12;
    --mat-sys-hover-state-layer-opacity: .08;
    --mat-sys-pressed-state-layer-opacity: .12;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color: var(--mat-sys-on-surface);
    font-weight: 400;
    user-select: none;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
}

.mat-internal-form-field>label {
    padding-left: 10px !important;
    color: var(--secondary-text-color) !important;
}