@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
    overflow: hidden;
}

body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}