h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 10px auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.divisor {
    display: flex;
}

.divisor hr {
    width: 100%;
    margin: auto 10px;
}

button, input {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
}

input{
    background-color: black;
}

input::content,
input::placeholder{
    color: white;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option{
    padding: 6px;
    background-color: rgb(224, 224, 224);
}

.option:hover{
    background-color: rgb(207, 207, 207);
}

#login{
    background-color: rgb(255, 183, 0);
    color: white;
}

#login:hover{
    background-color: rgb(206, 148, 0);
}

img{
    width: 32px;
    height: 32px;
    margin: auto 10px;
}

p{
    margin: 8px auto;
}

a{
    color: rgb(255, 183, 0);
}

a:hover{
    color: rgb(206, 148, 0);
}

a:visited {
    color: rgb(206, 103, 0);
}

